<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/style.css}">
    </head>
    <body>
        <h1>MOSTRAR CURSOS</h1>

        <div>
            <table border="1">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Dia</th>
                    <th>Hora Inicio</th>
                    <th>Hora Fin</th>
                    <th>Seccion</th>
                    <th>Cupo maximo</th>
                    <th>Estado</th>
                </tr>
                <tr th:each="curso : ${cursos}">
                    <td th:text="${curso.id_curso}"></td>
                    <td th:text="${curso.nombre}"></td>
                    <td th:text="${curso.dia}"></td>
                    <td th:text="${curso.hora_inicio}"></td>
                    <td th:text="${curso.hora_fin}"></td>
                    <td th:text="${curso.seccion}"></td>
                    <td th:text="${curso.cupomaximo} + ' alumnos'"></td>
                    <!-- <td th:text="${curso.estado}"></td> -->
                    <td>
                        <span th:if="${curso.estado == true}">activo</span>
                        <span th:if="${curso.estado == false}">no activo</span>
                    </td>
                </tr>
                
            </table>
        </div>
    </body>
</html>
